.banner-section{
    background: url(https://scontent.fdac5-2.fna.fbcdn.net/v/t1.15752-9/187088594_151453550288184_5672819179112829573_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=ae9488&_nc_eui2=AeEMcVl-YNFZ-eRKJHgtiDKS_h_Y79vnEtz-H9jv2-cS3AKGfZcdANZz3VESBqWUmdJEY-yIsYUlZcbzud7uC4pg&_nc_ohc=ZLPLd-zHa1sAX_vMM22&_nc_ht=scontent.fdac5-2.fna&oh=2667f26339327692595cf35c4849f2d2&oe=60D2B2B2) ;
    background-size: cover;
    padding: 200px 0;
}